In [2]:
import pandas as pd
import os

In [3]:
os.chdir('/content')
 
print("Directory changed")

Directory changed

In [6]:
data_files = ['data_1.csv', 'data_2.csv', 'data_3.csv']
df = pd.concat((pd.read_csv(filename) for filename in data_files))
df.head()

  colA  colB   colC
0  'A'  1412   True
1  'B'  1252  False
2  'C'  1536   True
3  'D'  1508  False
0  'E'  1115  False

In [7]:
# with new index
df = pd.concat(
  (pd.read_csv(filename) for filename in data_files), 
  ignore_index=True
)
df

   colA  colB   colC
0   'A'  1412   True
1   'B'  1252  False
2   'C'  1536   True
3   'D'  1508  False
4   'E'  1115  False
5   'F'  6416   True
6   'G'  6241   True
7   'H'  1267  False
8   'I'  1252  False
9   'J'  2753  False
10  'K'  7346   True

In [8]:
# without file names
import glob
data_files = glob.glob('*.csv')
df = pd.concat(
  (pd.read_csv(filename) for filename in data_files), 
  ignore_index=True
)
df

   colA  colB   colC
0   'H'  1267  False
1   'I'  1252  False
2   'J'  2753  False
3   'K'  7346   True
4   'A'  1412   True
5   'B'  1252  False
6   'C'  1536   True
7   'D'  1508  False
8   'E'  1115  False
9   'F'  6416   True
10  'G'  6241   True

In [9]:
# a different approach with map
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')))
df

  colA  colB   colC
0  'H'  1267  False
1  'I'  1252  False
2  'J'  2753  False
3  'K'  7346   True
0  'A'  1412   True
1  'B'  1252  False
2  'C'  1536   True
3  'D'  1508  False
0  'E'  1115  False
1  'F'  6416   True
2  'G'  6241   True

In [10]:
# add source for every record
df = pd.concat(
  [
    pd.read_csv(filename).assign(source=filename)
    for filename in glob.glob('*.csv')
  ], 
  ignore_index=True
)
df

   colA  colB   colC      source
0   'H'  1267  False  data_3.csv
1   'I'  1252  False  data_3.csv
2   'J'  2753  False  data_3.csv
3   'K'  7346   True  data_3.csv
4   'A'  1412   True  data_1.csv
5   'B'  1252  False  data_1.csv
6   'C'  1536   True  data_1.csv
7   'D'  1508  False  data_1.csv
8   'E'  1115  False  data_2.csv
9   'F'  6416   True  data_2.csv
10  'G'  6241   True  data_2.csv