In [1]:
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#Loading dataset example
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips.sort_values('total_bill').head()

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
92         5.75  1.00  Female    Yes   Fri  Dinner     2
111        7.25  1.00  Female     No   Sat  Dinner     1
172        7.25  5.15    Male    Yes   Sun  Dinner     2
149        7.51  2.00    Male     No  Thur   Lunch     2

In [4]:
#We put our columns in the list and input False value in the ascending parameter to change the sorting direction
tips.sort_values(['size', 'tip'], ascending = False).head()

     total_bill   tip     sex smoker   day    time  size
141       34.30  6.70    Male     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
156       48.17  5.00    Male     No   Sun  Dinner     6
125       29.80  4.20  Female     No  Thur   Lunch     6
155       29.85  5.14  Female     No   Sun  Dinner     5

In [5]:
#I specify the as the column and the both total_bill and tip column as the value
tips.pivot(columns = 'sex', values = ['total_bill', 'tip'])

    total_bill          tip
sex       Male Female  Male Female
0          NaN  16.99   NaN   1.01
1        10.34    NaN  1.66    NaN
2        21.01    NaN  3.50    NaN
3        23.68    NaN  3.31    NaN
4          NaN  24.59   NaN   3.61
..         ...    ...   ...    ...
239      29.03    NaN  5.92    NaN
240        NaN  27.18   NaN   2.00
241      22.67    NaN  2.00    NaN
242      17.82    NaN  1.75    NaN
243        NaN  18.78   NaN   3.00

[244 rows x 4 columns]

In [6]:
tips.pivot_table(columns = 'sex', values = ['total_bill', 'tip'])

sex              Male     Female
tip          3.089618   2.833448
total_bill  20.744076  18.056897

In [7]:
tips.pivot_table(columns = 'sex', values = ['total_bill', 'tip'], aggfunc = ['mean', 'std', 'median'])

                 mean                  std           median
sex              Male     Female      Male    Female   Male Female
tip          3.089618   2.833448  1.489102  1.159495   3.00   2.75
total_bill  20.744076  18.056897  9.246469  8.009209  18.35  16.40

In [8]:
#Specificed the size column as the index and margins as True to get the total summary
tips.pivot_table(columns = 'sex', values = ['total_bill', 'tip'], aggfunc = ['mean', 'std', 'median'], index = 'size',
                margins = True)

          mean                                 ... median
           tip                     total_bill  ...    tip total_bill
sex       Male    Female       All       Male  ...    All       Male  Female     All
size                                           ...
1     1.920000  1.276667  1.437500   8.580000  ...  1.415      8.580   7.250   7.915
2     2.614184  2.528448  2.582308  17.104082  ...  2.500     15.750  14.415  15.370
3     3.476667  3.250000  3.393158  24.287083  ...  3.290     21.915  17.610  20.365
4     4.172143  4.021111  4.135405  28.078214  ...  3.760     25.725  30.140  25.890
5     3.750000  5.140000  4.028000  30.122500  ...  5.000     29.305  29.850  29.850
6     5.850000  4.600000  5.225000  41.235000  ...  5.000     41.235  28.425  32.050
All   3.089618  2.833448  2.998279  20.744076  ...  2.900     18.350  16.400  17.795

[7 rows x 18 columns]

In [9]:
tips.melt(id_vars = 'tip', value_vars = 'sex')

      tip variable   value
0    1.01      sex  Female
1    1.66      sex    Male
2    3.50      sex    Male
3    3.31      sex    Male
4    3.61      sex  Female
..    ...      ...     ...
239  5.92      sex    Male
240  2.00      sex  Female
241  2.00      sex    Male
242  1.75      sex    Male
243  3.00      sex  Female

[244 rows x 3 columns]