In [1]:
!pip install siuba

Collecting siuba
  Downloading siuba-0.0.25.tar.gz (95 kB)
  Downloading siuba-0.0.24-py3-none-any.whl (104 kB)
Requirement already satisfied: numpy>=1.12.0 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from siuba) (1.19.4)
Requirement already satisfied: SQLAlchemy>=1.1.18 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from siuba) (1.3.19)
Requirement already satisfied: PyYAML>=3.0.0 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from siuba) (3.13)
Requirement already satisfied: pandas>=0.24.0 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from siuba) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.24.0->siuba) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.24.0->siuba) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->siuba) (1.14.0)
Installing collected packages: siuba
Successfully installed siuba-0.0.24

    ERROR: Command errored out with exit status 1:
     command: 'c:\users\gsdav\anaconda3\envs\tensorflow\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\gsdav\\AppData\\Local\\Temp\\pip-install-3t5m6ntd\\siuba_1b20f3b6dac64fd7b0dc884d697e31bf\\setup.py'"'"'; __file__='"'"'C:\\Users\\gsdav\\AppData\\Local\\Temp\\pip-install-3t5m6ntd\\siuba_1b20f3b6dac64fd7b0dc884d697e31bf\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\gsdav\AppData\Local\Temp\pip-pip-egg-info-pkyc5x_t'
         cwd: C:\Users\gsdav\AppData\Local\Temp\pip-install-3t5m6ntd\siuba_1b20f3b6dac64fd7b0dc884d697e31bf\
    Complete output (7 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\gsdav\AppData\Local\Temp\pip-install-3t5m6ntd\siuba_1b20f3b6dac64fd7b0dc884d697e31bf\setup.py", line 14, in <module>
        README = f.read()
      File "c:\users\gsdav\anaconda3\envs\tensorflow\lib\encodings\cp1252.py", line 23, in decode
        return codecs.charmap_decode(input,self.errors,decoding_table)[0]
    UnicodeDecodeError: 'charmap' codec can't decode byte 0x8f in position 533: character maps to <undefined>
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/5c/5c/26953e9eb2dfe85cf7ea759db945705961546dbde27102eaa6c1ba71cb66/siuba-0.0.25.tar.gz#sha256=716cd5134601294fc67b24e11706a32fbe6ad309dd45deffea89b4802bda9993 (from https://pypi.org/simple/siuba/) (requires-python:>=3.6). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
WARNING: You are using pip version 21.0.1; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\gsdav\anaconda3\envs\tensorflow\python.exe -m pip install --upgrade pip' command.

In [3]:
import numpy as np
import pandas as pd
from siuba import _
from siuba.dply.verbs import group_by, mutate, select, summarize, ungroup

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/gsdavis1959/Data/master/HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
df_attrition = df >> \
    group_by('Attrition') >> \
    summarize(
            mean_daily_rate = np.mean(_.DailyRate))

In [7]:
df_attrition

  Attrition  mean_daily_rate
0        No       812.504461
1       Yes       750.362869