In [2]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-17.6.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 46.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.9/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-17.6.0

In [3]:
import pandas as pd
from faker import Faker

faker = Faker()

n = 100000

address= pd.Series([faker.address() for i in range(n)])

In [5]:
import re
(
    (address)
    .map(lambda x: (re.search(r"\w{2} \d{5}", x).group()))
    .str.split(" ", expand=True)
    .rename(columns={0: "state", 1: "zip_code"})
)

      state zip_code
0        OK    32124
1        CA    33666
2        PR    11381
3        MO    10008
4        UT    32770
...     ...      ...
99995    AR    83419
99996    GA    74420
99997    PR    00854
99998    LA    95453
99999    GA    44449

[100000 rows x 2 columns]

In [6]:
# uses pandas
address.str.extract(r"(?P<state>\w{2}) (?P<zip_code>\d{5})")

      state zip_code
0        OK    32124
1        CA    33666
2        PR    11381
3        MO    10008
4        UT    32770
...     ...      ...
99995    AR    83419
99996    GA    74420
99997    PR    00854
99998    LA    95453
99999    GA    44449

[100000 rows x 2 columns]

In [7]:
import pandas as pd

# Create a sample dataframe
data = {
    "office_serial_number": [
        "US101-001",
        "UK201-006",
        "CA301-003",
        "AU401-004",
        "UK202-005",
        "IN302-006",
        "IR102-007",
        "AU402-006",
        "SL303-009",
        "UK203-010",
        "FR403-011",
        "US103-012",
    ]
}

df = pd.DataFrame(data)

df[df.office_serial_number.str.contains("^(UK|IN|AU)\d{3}-006")]

<ipython-input-7-4ebf27a9fa5d>:23: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[df.office_serial_number.str.contains("^(UK|IN|AU)\d{3}-006")]

  office_serial_number
1            UK201-006
5            IN302-006
7            AU402-006

In [8]:
import pandas as pd
import re

# create a sample dataframe (dummy)
df = pd.DataFrame({'phone': ["+1 555-555-5555", "+44 20 7123 4567", "+81 3-1234-5678", "0049 30 12345678", "+61 2 1234 5678", "+33 1 23 45 67 89", "+86 10 1234 5678", "011 52 55 1234 5678", "+971 4 123 4567", "+49 911 12345678", "(+81) 3-1234-5678"]})

# define a regular expression pattern to match the country code
pattern = r'^\+?\d{1,3}[\s-]?'   # match + or digit(s) followed by space/hyphen

# apply the pattern to the 'phone' column and replace the matches with an empty string
df['phone'] = df['phone'].apply(lambda x: re.sub(pattern, '', x))

print(df)

                phone
0        555-555-5555
1        20 7123 4567
2         3-1234-5678
3       9 30 12345678
4         2 1234 5678
5       1 23 45 67 89
6        10 1234 5678
7     52 55 1234 5678
8          4 123 4567
9        911 12345678
10  (+81) 3-1234-5678